<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trail Blog</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Walter+Turncoat" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="nav-container">
        <div class="home-container">
          <a href="#">Home</a>
        </div>
        <div class="title">
          <h1>Chris' Hike</h1>
        </div>
        <div class="encouragement-container">
          <a href="#">Word of Encouragement</a>
        </div>
      </div>
      <div class="blog-container">
      </div>
    </div>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
